.menu {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row;
  padding: 2px 0;
  height: 30px;
}

.menu-item {
  flex-grow: 1;
  min-width: 100px;
  color: white;
  text-align: center;
  padding-top: 6px;
  margin: 0px 1px;
  border-radius: 5px;
  background-color: #212227;
}

.main {
  display: flex stretch;
  flex-flow: column;
  width: 98%;
  min-width: 400px;
  margin: 0 auto;
  padding: 5px 1px;

  background-color: #BDD4E7;
  border-radius: 5px;
}

.sub {
  padding: 0px 20px;
  margin: 1px 0px;

  border: solid 2px blue;
  border-radius: 5px;
}

.draw {
  position: relative;
  display: flex stretch;
  flex-flow: row;
  height: 350px;
  background-color: #AAB9CF;
  border-radius: 5px;
  margin: 0px 2px;
}
.canvas {
  position: relative;
  display: flex stretch;
  margin: 0;
  padding: 0;
}
h1 {
  background-color: #8693AB;
  display: flex stretch;
  text-align: center;
  margin: 0;
  padding: 0;
}
canvas {
  position: relative;
  top: 20px;
  margin: 0px;
  padding: 0px;
}

button {
  margin: 3px 20px;
}
.pockets {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-flow: row;
  padding: 20px 0;
}

.input_label {
  display: flex;
  flex: 0 0 auto;
  width: 135px;
  margin: 5px;
}

.input_label_l {
  display: block;
  flex: 0 0 auto;
  width: 135px;
  margin: 5px;
  text-align: right;
}

.input {
  flex: 0 0 auto;
  border-radius: 5px;
  border-width: thin;
  border-color: inherit;
  margin: 5px;
  width: 100px;
}

.input_div {
  margin-left: 20px;
  display: flex;
  flex-flow: row;
  width: 100%;
}

.input_check {
  margin-top: 8px;
}

.selectTool{
  margin-left: 20px;
  margin-top: 10px;
}

.inputs {
  display: flex;
  flex-flow: column;
}

.save {
  flex-grow: 1;
  min-width: 100px;
  text-align: center;
  padding: 5px;
  margin: 1px 1px;
  border-radius: 5px;
  background-color: #AAB9CF;
}
@media screen and (max-width: 820px) {
  .pockets {
    flex-wrap: wrap;
  }
  canvas {
    top: 5px;
  }
  .input_div .input_check{
    margin: 5px;
  }
  button {
    margin: 3px 5px;
  }

}
.save label,
p {
  padding: 0px;
  margin: 0px;
}
